/Python_stack/Django/Django_intro/first_django_project/first_django_project/__pycache__
/Python_stack/Django/Django_intro/first_django_project/blogs/__pycache__
Python_stack/Django/Django_intro/first_django_project/db.sqlite3
