<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display:flex;
            flex-flow:column;
            align-items:center;
            justify-content:center;
            span,h2{
                border:2px solid black;
                text-align:center;
                padding:20px
            }
            h2{
                width: 300px;
            }
        }
    </style>
</head>

<body>
    <span>current time and date:</span>
    <h2>{{time}}</h2>
</body>
</html>