*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	table{
	*{
		border:none;
	}
	}
	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}

body{
	padding:100px;
	display:flex;
	flex-flow:column;
	align-items:center;
	justify-content:center;
	
}
h1{
	color:rgb(255, 128, 128);
}

.fruit_table_container{
	margin-top:20px;
	padding:20px;
	background-color:pink;
	
	table{
	
		width:500px;
		border-spacing:0px 4px;
	tr{
		background-color:white;
		
		th{
			text-align:left;
			font-weight:600;
		}
		th , td{
			font-size:20px;
			padding:10px 15px;
		}
		
	}
	}
}