*{
    padding: 0;
    margin: o;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    width: 70%;
    align-items: center;
    border: solid 3px gray;
    position: relative;

}
.top-header{
    background-color: #17a2b8;
    height: 100px;

}
.personal-info{
    padding: 20px;
    margin-top: 10px;
    

}
.profile-img img{
    height: 100px;
    position: absolute;
    left: 20px;
    top: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}
.icons {
    height: 15px;
}
.icon-text-container{
    
    display: flex;
    align-items: center;
    gap: 5px;


}
p.icon-text-container{
    margin-bottom: -10px;

}

h1{
    margin-bottom: -10px;
}