*{
    margin: 0;
    padding: 0;
    font-family: "Balsamiq Sans";
}
body {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-flow: column;
}

.nav {
    background-color: #333333;
    display: flex;
    flex-flow: row;
    height: 50px;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    color: white;
    justify-content: space-between;
    gap: 30px;
    padding: 5px 210px;

   
}


.nav-links {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    align-items: center;
    gap: 20px;


    a {
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
}

.nav-links>li:nth-child(odd) {
    a {
        color: lightgray;
    }

}


.btn {

    background-color: #18a2b8;
    color: white;
    padding: 5px 10px;
    font-size: medium;
    font-weight: 600;

    border: 3px solid black;
    box-shadow: 5px 5px black;
}





.innerpage{
    width: 100%;
    padding-top: 40px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
    
}
.sidebar{
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

.menu_header{
    background-color: #333333;
    color:white;

    font-weight: 600;
    padding: 20px 25px;
    text-align: start;
    font-size: larger;
    .counter{
        margin-right: 10px;
        padding: 5px 10px;
        background-color: #ccc;
        border-radius: 50%;
        color: black;
    }

}
.menubox{
    display: flex;
    flex-flow: column nowrap;
    ul{
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;

        li{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 10px;


            img{
                height: 40px;
                border: 2px solid ccc;

                border-radius: 50%;
            }
            font-size: 20px;

            button{
                justify-self: flex-end;
                padding: 0;
                border: none;
                background: none;
                img{
                    border:none;
                    height: 30px;
                }
            }
        }
    }
        
}

.menucontainer{
    display: flex;
    flex-flow: column;
    padding: 10px;
    border: 4px solid lightgray;
    border-top: none;

 
}
.education{
    padding: 20px 30px;
    gap: 5px;
    #userfirstheading{
        font-size: 20px;
    }
    #userfirstdate{
        font-size: 18px;
        color: #888;
    }
    #usersecondheading{

    }
}
.connection_requests{
    width: 300px;

}

li{
    list-style: none;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;

}
.spacer{
    flex-grow: 1;
}
.usercard{
    width: 450px;
    align-items: center;
    border: solid 4px lightgray;
    position: relative;
}
.top-header{
    background-color: #17a2b8;
    height: 80px;

}
.personal-info{
    padding: 20px;
    margin-top: 30px;

    p{
        margin-top: 20px;
    }
    h1{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: -10px;
    }
    

}
.profile-img{

    border: 2px solid lightgrey;
    border-radius: 50%;
    height: 80px;
    
    position: absolute;
    left: 20px;
    top: 40px;
    img{
        height: 80px;
        box-sizing: border-box;
        
        border: 3px solid white;
        border-radius: 50%;
    }   
}
.icons {
    height: 15px;
}
.icon-text-container{
    
    display: flex;
    align-items: center;
    gap: 5px;

    margin-top: 10px;


}
p.icon-text-container{
    margin-bottom: -10px;

}


