*{
    margin: 0;
    padding: 0;

    font-family: "Balsamiq sans";
}

body{
    display: flex;
    justify-content: center;
}

.container{

    width: 700px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}
.pageHead{
    background-color: black;
    color: white;
    padding: 20px;
}
.feedTitle{
    text-align: center;
}
.innercontainer{

    display: flex;
    flex-direction: row nowrap;
    gap: 30px;
}
.profile{

    width: 150px;
    height: 250px;
    border: 4px solid black;

    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 10px;
    justify-content: space-around;

}

.feed{
    display: flex;
    flex-direction:column;
    gap: 10px;
}
.post{
    border: 4px solid black;
    width: 500px;
    height: 160px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}
.postinfo{
    display: flex;
    justify-content: space-between;

    align-items: center;
    
    gap: 20px;
    .name{
        flex-grow: 1;
    }

    .likebutton{
        border: 3px solid black;
        box-shadow: 3px 2px black;
        padding: 5px 10px;
        background-color:gold;

    }
}
.postcontent{
    font-size:18px;
}

img{
    height: 100px;
}