*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans";
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-flow:column;
    align-items: center;
}

.formcontainer {

    display: flex;
    gap: 10px;
    justify-content: space-around;
}
form{
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
}

.dojolist {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}