*{
    margin: 0;
    padding: 0;
    font-family: "Balsamiq sans";

}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

body{
    display: flex;
    flex-flow: column nowrap;

    height: 100vh;

}

.top-container{
    background-image: url(content/yoga-header.jpg);
    flex-grow: 1;
    height: 50vh;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-flow: column;

    padding: 10px 20px;
}


header{
    display: flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 50px;


    border-bottom: white 2px solid;
    border-radius: 5px;

    padding: 10px;
    img{
        height: 50px;
    }
}

nav {
    display: flex;
    gap: 5px;
    flex-flow:column;


    ul{

        display: flex;
        gap: 8px;
        
        a {
            padding: 2px;
            color: white;
            font-size: 16px

        }

        .nav-spacer{
            border: 1px solid white;
        }
    }

    
    .searchbar-container{
        border: 2px solid black;
        background-color: white;
        display: flex;
        align-items: center;

        .searchbar{
            border:none; 
            outline: none;
            flex-grow: 1;
            height: 100%;
        }
        img{
            height: 15px;
            padding: 3px 5px 3px 3px;
        }
    }
    
    

}

.top-inner-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    gap: 10px;

    color: white;
    list-style: none;

    #first-element{
        font-size: 30px;
    }
    #second-element{
        font-size:14px;
    }
    #third-element{
        button{
            background-color: #e0554b;
            color: white;

            cursor: pointer;
            border: 3px solid black;
            padding: 10px 15px;
            box-shadow: 3px 2px black;

            font-size: 14px;
        }
       
    }

}
.center-container{
    background-color:#eee;

    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    padding-bottom: 30px;


    flex-grow: 1;

    .center-container-inner{
        
        display: flex;
        flex-flow: row nowrap;

        gap: 20px;


        .yoga-box{
            display: flex;
            flex-flow:column nowrap ;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 18vh;

            border-radius: 10px;

            gap: 5px;
            padding: 10px;

            img{
                height: 100px;
                border-radius: 50%;
                border: 2px solid black;
            }

            &&:hover{
                cursor: pointer;
                background-color: #ddd;
            }

        }


    }


}

footer{

    flex-grow: 1;
    background-color: #cf4204;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px;

    span{
        margin-left: 30px;
    }
    .socials{

        display: flex;
        gap: 5px;
        img{
            height: 25px;
            cursor: pointer;
        }
    }

}