body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1{
    padding: 10px;
    background: black;
    color: white;
    span{
        color: aqua;
    }
}
h2{
    padding: 10px;
    font-style: italic;
    background-color:#663399;
    text-align: center;
    color: white;
}
h3{
    padding: 10px;
    text-align: right;
    background-color:lightskyblue;
    a{color: black;}
}