<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Show Details</title>
</head>
<body>
    <a class="backbutton" href="/shows">Go Back</a>
    <div class="showcontainer">
        <h2>Show {{show.id}}</h2>
        <h1>{{ show.title }}</h1>
        <p><strong>Network:</strong> {{ show.network }}</p>
        <p><strong>Release Date:</strong> {{ show.release_date }}</p>
        <p><strong>Description:</strong> {{ show.description }}</p>
        <a href="/shows/{{ show.id }}/edit">Edit Show</a>
        <form method="POST" action="/shows/{{ show.id }}/destroy" style="display:inline;">
            {% csrf_token %}
            <input type="submit" value="Delete Show">
        </form>
        <p><strong>Updated At:</strong> {{ show.updated_at }}</p>
    </div>
    
</body>
</html>