<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <div class="content">

        <div class="board">
            {% for x in range(0,row): %}
                <div class="row">
                    {% for y in range(0,box): %}
                        <div class="square"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>
    
</body>
</html>