<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>counter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <style>
            *{
                margin:0;
                padding:0;
            }
            body{
                font-family:"Balsamiq Sans";
                display:flex;
                flex-direction:column;
                align-items:center;
                text-align: center;
                padding-top:20%;
            }
        </style>
    </head>
    <body>

        <h1>counter</h1>
        <h2>{{count}}</h2>

        
    </body>
</html>