* {
    margin: 0;
    padding: 0;
}

body{

    font-family: "Balsamiq sans";

    display: flex;
    flex-flow: column nowrap;


}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;



    background-color: #9fc5f8;
    color: white;
    
    h1{

    }
    ol{
        
        font-size: 20px;
        display: flex;
        list-style: none;
        gap: 20px;

    }
}
.container{
    display: flex;
    flex-flow: column;
    padding: 10px 100px;
    width: fit-content;
    gap: 20px;
}
.weatherheader{
    *{
        font-family: "Balsamiq sans";
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border-bottom: 3px solid black;

    h2{
        font-weight: 500;
        font-size: 28px;
    }
    select{
        background-color: white;
        border:2px solid black;
        border-radius: 3px;

    }
    
}
.weathercontainer{
    display: flex;
    gap: 20px;
}
.weathercard{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #eee;
    padding: 20px;
    gap: 15px;
    .day{
        font-size: 24px;
    }
    img{
        border-radius: 50%;
        height: 150px;
    }
    .temps{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}
.tempNum{
   
}

.numcontainer{
    font-size: 24px;
    &&.a{
        color: red;
    }
    &&.b{
        color:deepskyblue;
    }
}

.cookiemenu{
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    border: 3px solid black;
    max-width: 820px;

    box-sizing: border-box;
    align-items: center;
    gap: 20px;
    padding: 5px 20px;

    img{
        height: 50px;
    }
    .cookiedesc{
        display: flex;
        flex-flow: column nowrap;
    }
    .cookiebtn{
        width: 100px;
        background-color: #9fc5f8;
        color: black;
        border: 3px solid black;
        box-shadow: 3px 3px black;

        text-align: center;
        font-family:"Balsamiq sans";
        padding: 3px;
        &&:hover{
            cursor: pointer;
            background-color: #82a0c7;
        }
    }
}
